<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{{> header}}
		<title>Atualizar usuário</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		{{> style}}
		{{> stylecadastro}}
	</head>
	<body>
		<div class="container">
			{{> navbar}}
			<div class="row">
				<div class="col-xs-4 col-md-4 col-lg-4">
				</div>
	
				<div class="col-xs-4 col-md-4 col-lg-4">
					<div class="row text-center">
					</div>
					<form action="/usuario/atualizar" method="POST">
	
						<input value="{{usuario.idUsuario}}" type="hidden" name="idUsuario"/>
	
						<div class="row text-center">
							<h4>Nome:</h4>
							<input value="{{usuario.nome}}" type="text" name="nome" class="form-control" required />
						</div>
	
						<div class="row text-center">
							<h4>Email:</h4>
							<input value="{{usuario.email}}" type="text" name="email" class="form-control" required/>
						</div>
	
						<div class="row text-center">
							<h4>Senha:</h4>
							<input value="{{usuario.senha}}" type="text" name="senha" class="form-control" required/>
						</div>
	
						<div class="row text-center">
							<input type="submit" value="Atualizar" class="btn btn-primary"/>
						</div>
					</form>
				</div>
				<div class="col-xs-4 col-md-4 col-lg-4">
				</div>
			</div>
		</div>
		{{> scripts}}
	</body>
</html>