<!DOCTYPE html>
<html>
<head>
	<meta chaset="utf-8">
	<link rel="stylesheet" type="text/css" href="/components/dist/css/bootstrap.css">
	<title>Atualizar Usuário</title>
	<style type="text/css">
		.row{
			margin-top: 20px;
		}
	</style>
</head>
<body>
	<div class="container">
		{{> navbar}}
		<div class="row">
			<div class="col-xs-4 col-md-4 col-lg-4">
			</div>

			<div class="col-xs-4 col-md-4 col-lg-4">
				<div class="row text-center">
					<h2>Atualizar Usuário</h2>
				</div>
				<form action="/usuario/atualizar" method="POST">

					<input value="{{usuario.idUsuario}}" type="hidden" name="idUsuario"/>

					<div class="row text-center">
						<label>Nome:</label>
						<input value="{{usuario.nome}}" type="text" name="nome" class="form-control" required />
					</div>

					<div class="row text-center">
						<label>Email:</label>
						<input value="{{usuario.email}}" type="text" name="email" class="form-control" required/>
					</div>

					<div class="row text-center">
						<label>Senha:</label>
						<input value="{{usuario.senha}}" type="text" name="senha" class="form-control" required/>
					</div>

					<div class="row text-center">
						<input type="submit" value="Atualizar" class="btn btn-primary"/>
					</div>
				</form>
			</div>

			<div class="col-xs-4 col-md-4 col-lg-4">
			</div>
		</div>
	</div>

	{{> scripts}}
</body>
</html>