<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{{> header}}
		<title>Atualizar skill</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		{{> style}}
		{{> stylecadastro}}
	</head>
	<body>
		<div class="container">
			{{> navbar}}
			<div class="row">
				<div class="col-xs-4 col-md-4 col-lg-4">
				</div>
	
				<div class="col-xs-4 col-md-4 col-lg-4">
					<div class="text-center">
					</div>
					<form action="/skill/atualizar" method="POST">
	
						<input value="{{skill.idSkill}}" type="hidden" name="idSkill" />
	
						<div class="row text-center">
							<h4>Nome:</h4>
							<input value="{{skill.nome}}" type="text" name="nome" class="form-control" required />
						</div>
	
						<div class="row text-center">
							<h4>Descrição:</h4>
							<input value="{{skill.descricao}}" type="text" name="descricao" class="form-control" required/>
						</div>
	
						<div class="row text-center">
							<h4>Trilha:</h4>
							<select name="idTrilha" class="form-control">
								<option value="" required>-- Selecione --</option>
								{{#trilhas}}
								<option value="{{idTrilha}}">{{nome}}</option>
								{{/trilhas}}
							</select>
						</div>
	
						<div class="row text-center">
							<input type="submit" value="Atualizar" class="btn btn-primary"/>
						</div>
					</form>
				</div>
				<div class="col-xs-4 col-md-4 col-lg-4">
				</div>
			</div>
			<br>
		</div>
		{{> scripts}}
		<script type="text/javascript">
		$(function(){
			$('select option').each(function(i){
				if($(this).attr('value') === '{{skill.trilha.idTrilha}}'){
					$(this).attr('selected', 'selected')
				}
			});
		});
		</script>
	</body>
</html>