<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{{> header}}
		<title>Cadastrar skill</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		{{> style}}
		{{> stylecadastro}}
		<style type="text/css">
			.row{
				margin-top: 20px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			{{> navbar}}
			<div class="row">
				<div class="col-xs-4 col-md-4 col-lg-4">
				</div>
	
				<div class="col-xs-4 col-md-4 col-lg-4">
					<div class="row text-center">
					</div>
					<form action="/skill/inserir" method="POST">
						<div class="row text-center">
							<h4>Nome:</h4>
							<input type="text" name="nome" class="form-control" required />
						</div>
	
						<div class="row text-center">
							<h4>Descrição:</h4>
							<input type="text" name="descricao" class="form-control" required/>
						</div>
	
						<div class="row text-center">
							<h4>Trilha:</h4>
							<select name="idTrilha" class="form-control">
								<option value="" required>-- Selecione --</option>
								{{#trilhas}}
								<option value="{{idTrilha}}">{{nome}}</option>
								{{/trilhas}}
							</select>
						</div>
	
						<div class="row text-center">
							<input type="submit" value="Cadastrar" class="btn btn-primary"/>
						</div>
						
					</form>
				</div>
				<div class="col-xs-4 col-md-4 col-lg-4">
				</div>
			</div>
		</div>
		{{> scripts}}
	</body>
</html>