<!DOCTYPE html>
<html>
<head>
	<meta chaset="utf-8">
	<link rel="stylesheet" type="text/css" href="/components/dist/css/bootstrap.css">
	<title>Lista de Trilhas</title>
</head>
<body>
	{{> navbar}}
	<div class="container">
		<br><br>
		<div class="row titulo text-center">
			<h2>Lista de Usuários</h2>
		</div>

		<div class="row">
			<a href="/trilha/cadastro"><button class="btn btn-default">Cadastrar</button></a>
		</div>

		<br>

		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Descricao</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					{{#trilhas}}
						<tr>
							<td>{{#nome}}{{nome}}{{/nome}}</td>
							<td>{{#descricao}}{{descricao}}{{/descricao}}</td>
							<td>
								<a href="/trilha/excluir?idTrilha={{idTrilha}}"><button class="btn btn-danger">
								Excluir</button></a>
							</td>
						</tr>
					{{/trilhas}}
				</tbody>
			</table>
		</div>
		</div>
	{{> scripts}}
</body>
</html>