<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{{> header}}
		<title>Atualizar trilha</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		{{> style}}
		{{> stylecadastro}}
	</head>
	<body>
		<div class="container">
			{{> navbar}}
			<div class="row">
				<div class="col-xs-4 col-md-4 col-lg-4">
				</div>
	
				<div class="col-xs-4 col-md-4 col-lg-4">
					<div class="text-center">
					</div>
					<form action="/trilha/atualizar" method="POST">
						<input value="{{trilha.idTrilha}}" type="hidden" name="idTrilha"/>
						<div class="row text-center">
							<h4>Nome:</h4>
							<input value="{{trilha.nome}}" type="text" name="nome" class="form-control" required />
						</div>
	
						<div class="row text-center">
							<h4>Descrição:</h4>
							<input  value="{{trilha.descricao}}" type="text" name="descricao" class="form-control" required/>
						</div>
	
						<div class="row text-center">
							<input type="submit" value="Atualizar" class="btn btn-primary"/>
						</div>
					</form>
				</div>
	
				<div class="col-xs-4 col-md-4 col-lg-4">
				</div>
			</div>
		</div>
		{{> scripts}}
	</body>
</html>