<style type="text/css">
	.container, .text-center, .navbar, .navbar-right {
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
	
	body {
		background-color: #FEFEFA;
	}
	
	.navbar {
		background-color: #3498db;
	}
	
	.navbar-text, a, .navbar-brand {
		color: #ffffff !important
	}
	
	.preto {
		color: #000000 !important
	}
	
	.btn-primary {
		background-color: #3498db;
		border-color: #3498db;
	}
	
	.btn-primary:hover {
		background-color: #2980b9;
		border-color: #2980b9;
	}
	
	.centro {
		text-align: center;
	}
</style>