<!DOCTYPE html>
<html>
<head>
	<meta chaset="utf-8">
	<link rel="stylesheet" type="text/css" href="/components/dist/css/bootstrap.css">
	<title>Cadastrar Usuário</title>
	<style type="text/css">
		.row{
			margin-top: 20px;
		}
	</style>
</head>
<body>
	<div class="container">
		{{> navbar}}
		<div class="row">
			<div class="col-xs-4 col-md-4 col-lg-4">
			</div>

			<div class="col-xs-4 col-md-4 col-lg-4">
				<div class="row text-center">
					<h2>Cadastrar Usuário</h2>
				</div>
				<form action="/usuario/inserir	" method="POST">
					<div class="row text-center">
						<label>Nome:</label>
						<input type="text" name="nome" class="form-control" required />
					</div>

					<div class="row text-center">
						<label>Email:</label>
						<input type="text" name="email" class="form-control" required/>
					</div>

					<div class="row text-center">
						<label>Senha:</label>
						<input type="text" name="senha" class="form-control" required/>
					</div>

					<div class="row text-center">
						<label>É admin:</label>
						<input type="checkbox" name="admin">
					</div>

					<div class="row text-center">
						<input type="submit" value="Cadastrar" class="btn btn-primary"/>
					</div>
				</form>
			</div>

			{{#ok}}
				<div class="row">
					<h2>{{ok}}</h2>
				</div>
			{{/ok}}
			

			<div class="col-xs-4 col-md-4 col-lg-4">
			</div>
		</div>
	</div>

	{{> scripts}}
</body>
</html>