<!DOCTYPE html>
<html>
<head>
	{{> header}}
	<title>Login</title>
	<style type="text/css">
		.margin-bottom-30{
			margin-bottom: 30px;
		}

		.margin-top-50{
			margin-top: 50px;
		}

		.vermelho{
			color: red;
		}

	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-md-4 col-lg-4"></div>
			
			<div class="col-xs-4 col-md-4 col-lg-4">
				<form action="/usuario/validar{{#returnUrl}}?returnUrl={{returnUrl}}{{/returnUrl}}" method="POST">

					<div class="row text-center margin-top-50	">
						<h1>Bem-Vindo! Faça login.</h1>
					</div>

					<div class="row">
						<label class="margin-top-50">Usuário:</label>
						<input type="text" name="nome" placeholder="Ex: Cassiano" class="form-control margin-bottom-30 " required/>
					</div>

					<div class="row">
						<label>Senha:</label>
						<input type="password" name="senha" placeholder="*************" class="form-control margin-bottom-30" required/>
					</div>

					<div class="row text-center">
						<input type="submit" value="Entrar" class="btn btn-primary">
					</div>
				</form>
				<br><br>
				{{#erro}}
				<div class="row">
					<div class="alert alert-danger text-center" role="alert">{{erro}}</div>
				</div>
				{{/erro}}
			</div>
			
			<div class="col-xs-4 col-md-4 col-lg-4"></div>
		</div>
	</div>
	{{> scripts}}
</body>
</html>