<!DOCTYPE html>
<html>
<head>
	{{> header}}
	<title>Cadastrar Projeto</title>
	<style type="text/css">
		.row{
			margin-top: 20px;
		}
	</style>
</head>
<body>
	<div class="container">
		{{> navbar}}
		<div class="row">
			<div class="col-xs-4 col-md-4 col-lg-4">
			</div>

			<div class="col-xs-4 col-md-4 col-lg-4">
				<div class="row text-center">
					<h2>Cadastrar Projeto</h2>
				</div>
				<form action="/projeto/inserir" method="POST">
					<div class="row text-center">
						<label>Nome:</label>
						<input type="text" name="nome" class="form-control" required />
					</div>
					
					<div class="row text-center">
						<input type="submit" value="Cadastrar" class="btn btn-primary"/>
					</div>
				</form>
			</div>

			<div class="col-xs-4 col-md-4 col-lg-4">
			</div>
		</div>
	</div>
	{{> scripts}}
</body>
</html>