<!DOCTYPE html>
<html>
<head>
	{{> header}}
	<title>Lista de Projetos</title>
</head>
<body>
	{{> navbar}}
	<div class="container">
		<br><br>
		<div class="row titulo text-center">
			<h2>Lista de Projetos</h2>
		</div>

		<div class="row">
			<a href="/projeto/cadastro"><button class="btn btn-default">Cadastrar</button></a>
		</div>

		<br>

		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					{{#projetos}}
						<tr>
							<td>{{#nome}}{{nome}}{{/nome}}</td>
							<td>
								<a href="/projeto/atualizar?idProjeto={{idProjeto}}"><button class="btn btn-warning">
								Editar</button></a>

								<a href="/projeto/excluir?idProjeto={{idProjeto}}"><button class="btn btn-danger">
								Excluir</button></a>
							</td>
						</tr>
					{{/projetos}}
				</tbody>
			</table>
		</div>
		</div>
	{{> scripts}}
</body>
</html>