<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{{> header}}
		<title>Lista de projetos</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		{{> style}}
		{{> row}}	
	</head>
	<body>
		{{> navbar}}
		<div class="container">
			<div class="row titulo text-center">
				<h2>Lista de Projetos</h2>
			</div>
	
			<div class="row">
				<a href="/projeto/cadastro"><button class="btn btn-primary">Cadastrar</button></a>
			</div>
	
			<br>
	
			<div class="row">
				<table class="table">
					<thead>
						<tr>
							<th>Nome</th>
							<th></th>
						</tr>
					</thead>
	
					<tbody>
						{{#projetos}}
							<tr>
								<td>{{#nome}}{{nome}}{{/nome}}</td>
								<td>
									<a href="/projeto/atualizar?idProjeto={{idProjeto}}"><button class="btn btn-primary">
									Editar</button></a>
	
									<a href="/projeto/excluir?idProjeto={{idProjeto}}"><button class="btn btn-primary">
									Excluir</button></a>
								</td>
							</tr>
						{{/projetos}}
					</tbody>
				</table>
			</div>
			</div>
		{{> scripts}}
	</body>
</html>