<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{{> header}}
		<title>{{projeto.nome}} - Detalhes</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans'
			rel='stylesheet' type='text/css'>
		{{> style}}
		{{> stylecadastro}}
		{{> row}}
		<style type="text/css">
			.display-none {
				display: none;
			}
			.margin-10 {
				margin: 10px;
			}
			.block-inline {
				display: inline-block;
				margin: 20px;
			}
			.margemimagem {
				margin-top: 20px;
			}
			.botao-ver {
				width: 40px;
				height: 30px;
				font-size: 10px;
			}
			.alert {
				padding: 5px;
				padding-top: 10px;
				padding-left: 10px;
				margin-bottom: 5px;
			}
			#kpi {
				width: 300;
				height: 200px;
				display: inline-block;
				margin: 1em;
			}
		</style>
	</head>
	<body>
		{{> navbar}}
	
		<div class="container">
			<div class="text-center">
				<h1 class="margemlado">{{projeto.nome}}</h1>
			</div>
	
			<div class="row">
				<div class="col-xs-4 titulo text-center">
					<img class="img-thumbnail imagemdetalhes margemimagem" width="250px"
						src="{{projeto.imagemLogo}}">
				</div>
	
				<div class="col-xs-8">
					<div class="text-center">
						<h3>Tecnologias utilizadas:</h3>
					</div>
					<br> {{#trilhas}}
					<div id="{{idTrilha}}" class="alert alert-danger display-none">
						<label>{{nome}}: </label>
					</div>
					{{/trilhas}}
				</div>
	
			</div>
	
			<br>
			<div class="row text-center">
	
				{{#kpiExcelente}}
					<h3>{{kpiExcelente.status}}</h3>
					<p>{{kpiExcelente.resposta}}</p>
					<!--  Div do Kpi -->
					<div id="kpi"></div>
				{{/kpiExcelente}} {{#kpiRegular}}
					<h3>{{kpiRegular.status}}</h3>
					<p>{{kpiRegular.resposta}}</p>
					<!--  Div do Kpi -->
					<div id="kpi"></div>
				{{/kpiRegular}} {{#kpiRuim}}
					<h3>{{kpiRuim.status}}</h3>
					<p>{{kpiRuim.resposta}}</p>
					<!--  Div do Kpi -->
				<div id="kpi"></div>
				{{/kpiRuim}}
	
			</div>
			<div class="row alert alert-danger">
				<div class="text-center">
					<h3>Colaboradores alocados:</h3>
				</div>
				<div id="colaboradoresDoProjeto" class="row text-center">
					{{#ColaboradoresDoProjeto}}
					<div class="block-inline ">
						<img style="width: 200px; height: 200px;"
							class="img-thumbnail img-responsive "
							src="{{colaborador.imagemPerfil}}" alt="">
						<h4>
							<br>{{colaborador.nome}}
						</h4>
						<div>
							<span>Período de alocação:</span>
							<div>
								<span>{{dataInicio}} à {{dataFim}}</span>
							</div>
							<br>
						</div>
	
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary botao-ver"
							data-toggle="modal"
							data-target="#modal{{colaborador.idColaborador}}">
							<span class="glyphicon glyphicon-record" aria-hidden="true"></span>
						</button>
					</div>
					{{/ColaboradoresDoProjeto}} {{^ColaboradoresDoProjeto}}
					<h4>Este projeto ainda não tem colaboradores</h4>
					{{/ColaboradoresDoProjeto}}
				</div>
			</div>
	
			<div class="row alert alert-danger">
				<div class="row text-center">
					<h2>Profissionais indicados para este projeto:</h2>
				</div>
				<br>
				<br>
				<table class="table">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Indicação</th>
							<th>Projeto alocado</th>
							<th>Período de alocação</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
	
					<tbody>
						{{#indicados}}
						<tr>
							<td>{{colaborador.nome}}</td>
							<td>{{indicacao}}%</td>
							<td>{{#pcd.projeto.nome}} {{pcd.projeto.nome}}
								{{/pcd.projeto.nome}}
								{{^pcd.projeto.nome}}--{{/pcd.projeto.nome}}</td>
							<td>{{#pcd.dataInicio}}<span>{{pcd.dataInicio}}</span>
								à{{/pcd.dataInicio}} {{#pcd.dataFim}}<span>{{pcd.dataFim}}</span>{{/pcd.dataFim}}{{^pcd.dataInicio}}--{{/pcd.dataInicio}}
							</td>
							<td><button type="button" class="btn btn-primary botao-ver"
									data-toggle="modal"
									data-target="#modal{{colaborador.idColaborador}}">
									<span class="glyphicon glyphicon-record" aria-hidden="true"></span>
								</button></td>
							<td><button idProjeto="{{projeto.idProjeto}}"
									idColaborador="{{colaborador.idColaborador}}"
									class="btn btn-primary alocar" data-toggle="modal"
									data-target="#modelDataAlocacao">Alocar</button></td>
						</tr>
						{{/indicados}}
					</tbody>
				</table>
			</div>
		</div>
		{{#ColaboradoresDoProjeto}}
		<!-- Modal -->
		<div class="modal fade" id="modal{{colaborador.idColaborador}}"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog text-center" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">
							<b>{{colaborador.nome}}</b>
						</h4>
					</div>
	
					<div class="modal-body">
						<h4>Conhecimentos:</h4>
						{{#trilhas}}
						<div id="t{{idTrilha}}c{{colaborador.idColaborador}}"
							class="row alert alert-danger display-none">
							<label>{{nome}}: </label>
						</div>
						{{/trilhas}}
					</div>
	
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Sair</button>
					</div>
				</div>
			</div>
		</div>
		<br> {{/ColaboradoresDoProjeto}} 
		{{#indicados}}
		<!-- Modal -->
		<div class="modal fade" id="modal{{colaborador.idColaborador}}"
			tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog text-center" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">
							<b>{{colaborador.nome}}</b>
						</h4>
					</div>
	
					<div class="modal-body">
						<h4>Conhecimentos</h4>
						{{#trilhas}}
						<div id="t{{idTrilha}}c{{colaborador.idColaborador}}"
							class="row alert alert-danger display-none">
							<label>{{nome}}: </label>
						</div>
						{{/trilhas}}
					</div>
	
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Sair</button>
					</div>
				</div>
			</div>
		</div>
		{{/indicados}}
		<div class="modal fade" id="modelDataAlocacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		 	<div class="modal-dialog" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        		<h4 class="modal-title" id="tituloModelAlocar"><b>Alocar </b></h4>
		      		</div>
		      		
		      		<div class="modal-body">
		      			<h3 class="text-center">Período Alocação</h3>
		      			<div>
		      				<label>Inicio:</label>
		      				<input name="dataInicio" type="date" class="form-control ">
		      			</div>
		      			<br>
		      			<div>
		      				<label>nicio:</label>
		      				<input name="dataFim" type="date" class="form-control">
		      			</div>
		      		</div>
		      		
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
		        		<button id="btAlocar" type="button" class="btn btn-primary" data-dismiss="modal">Alocar</button>
		      		</div>
		    	</div>
		  	</div>
		</div>
	
		{{> scripts}}
	
		<script src="/components/raphael.2.1.0.min.js"></script>
		<script src="/components/justgage.1.0.1.min.js"></script>
		<script>
		
		
				 window.onload = function(){
					{{#kpiExcelente}}
						var kpi ={{kpiExcelente.porcentagem}};
						var cor =["#4CD964"];
						var mensagem = "Porcentagem Excelentes";
					{{/kpiExcelente}}
					
					{{#kpiRegular}}
						var kpi ={{kpiRegular.porcentagem}};
						var cor =["#FFA400"];
						var mensagem = "Porcentagem Regulares";
					{{/kpiRegular}}
					{{#kpiRuim}}
						var kpi ={{kpiRuim.porcentagem}};
						var cor =["#F22613"];
						var mensagem = "";
						//var mensagem = "Necessitam de treinamento";
					{{/kpiRuim}}
					    	  
				var gaugeKpi = new JustGage({
					id: 	"kpi", 
					value: 	kpi, 
					min: 	0,
					max: 	100,
					title:  mensagem,
					label: "%",
					showMinMax: true,
					levelColors: cor
				});		     	
				 };
				</script>
	
		<script type="text/javascript">
		$(function(){



			{{#projeto.skills}}
			$('#{{trilha.idTrilha}}').removeClass('display-none').append('<span class="margin-10">{{nome}}</span>');
			{{/projeto.skills}}

			{{#ColaboradoresDoProjeto}}

				{{#colaborador.skills}}
				$('#t{{trilha.idTrilha}}c{{colaborador.idColaborador}}').removeClass('display-none').append('<span class="margin-10">{{nome}}</span>');
				{{/colaborador.skills}}
			{{/ColaboradoresDoProjeto}}

			{{#indicados}}
				{{#colaborador.skills}}
				$('#t{{trilha.idTrilha}}c{{colaborador.idColaborador}}').removeClass('display-none').append('<span class="margin-10">{{nome}}</span>');
				{{/colaborador.skills}}
			{{/indicados}}

			$('.alocar').click(function(){
				var self = $(this);
 				var idProjeto = self.attr('idProjeto');
				var idColaborador = self.attr('idColaborador');

				$('#btAlocar').attr('idProjeto', idProjeto).attr('idColaborador', idColaborador);

				// var linha = $(this).parent().parent();

				// linha.fadeOut(500, function(){
				// 	linha.remove();
				// });
			});

			$('#btAlocar').click(function(){
				var dataInicio = $('input[name="dataInicio"]').val();
				var dataFim = $('input[name="dataFim"]').val();
				var idProjeto = $('#btAlocar').attr('idProjeto');
				var idColaborador = $('#btAlocar').attr('idColaborador');

				$.ajax({
					url: '/projeto/cadastro/colaborador?idProjeto=' + idProjeto + '&idColaborador=' + idColaborador + '&dataInicio=' + dataInicio + '&dataFim=' + dataFim,
					type: 'POST',
					contentType: 'json',
				}).done(function(res){
					console.log(res);
					$('.alocar[idColaborador="'+idColaborador+'"]').fadeOut(500, function(){
						$(this).parent().parent().remove();
					});

					$('#colaboradoresDoProjeto').append('<div class="block-inline "><img style="width:200px; height:200px;" class="img-thumbnail img-responsive " src="'+res.colaborador.imagemPerfil+'">'+
						'<h4><br>'+res.colaborador.nome+'</h4>'+
						'<div><span>Período de Alocação:</span>'+
						'<div><span>'+res.dataInicio+' à '+res.dataFim+'</span></div><br></div>'+
						
						'<!-- Button trigger modal -->'+
						'<button type="button" class="btn btn-primary botao-ver" data-toggle="modal" data-target="#modal'+res.colaborador.idColaborador+'"><span class="glyphicon glyphicon-record" aria-hidden="true"></span></button></div>');
					
				});

			});

			$('div.modal').on('hidden.bs.modal', function () {
			    $('body').css('padding-right', '0px');
			    $('input[name="dataInicio"]').val('');
				$('input[name="dataFim"]').val('');
			});
			});
			</script>
	</body>
</html>