<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{{> header}}
		<title>{{projeto.nome}} - Detalhes</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		{{> style}}
		{{> stylecadastro}}
		{{> row}}
		<style type="text/css">
			.display-none{
				display: none;
			}
			.margin-10{
				margin: 10px;
			}
			.block-inline{
				display: inline-block;
				margin: 20px;
			}
			.margemimagem{
				margin-top: 20px;
			}
			.botao-ver{
				width: 40px;
				height: 30px;
				font-size: 10px;
			}
			.alert {
				padding: 5px;
				padding-top: 10px;
				padding-left: 10px;
				margin-bottom: 5px;
			}
		</style>
	</head>
	<body>
		{{> navbar}}

		<div class="container">
			<div class="text-center">
				<h1 class="margemlado"> {{projeto.nome}}</h1>
			</div>

			<div class="row">
				<div class="col-xs-4 titulo text-center">
					<img class="img-thumbnail imagemdetalhes margemimagem" width="250px" src="{{projeto.imagemLogo}}">
				</div>

				<div class="col-xs-8">
					<div class="text-center">
						<h3>Tecnologias utilizadas</h3>
					</div>
					
					{{#trilhas}}
					<div id="{{idTrilha}}" class="alert alert-danger display-none">
						<label>{{nome}}: </label>
					</div>
					{{/trilhas}}
				</div>	

			</div>

			<br>

			<div class="row alert alert-danger">
				<div class="text-center">
					<h3>Colaboradores Alocados</h3>
				</div>

				<div class="row text-center">
					{{#ColaboradoresDoProjeto}}
					<div class="block-inline ">
						<img style="width:200px; height:200px;" class="img-thumbnail img-responsive "
							src="{{imagemPerfil}}" alt="">
						<h4><br>{{nome}}</h4>
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary botao-ver" data-toggle="modal" data-target="#modal{{idColaborador}}"><span class="glyphicon glyphicon-record" aria-hidden="true"></span></button>
					</div>
					{{/ColaboradoresDoProjeto}}
					{{^ColaboradoresDoProjeto}}
						<h4>Este Projeto ainda não tem colaboradores</h4>
					{{/ColaboradoresDoProjeto}}
				</div>
			</div>

			<div class="row alert alert-danger">
				<div class="row text-center">
					<h2>Profissionais indicados a este Projeto</h2>
				</div>
				<br><br>
				<table class="table">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Indicação</th>
							<th>Projeto Alocado</th>
							<th>Periodo Alocação</th>
							<th></th>
							<th></th>
						</tr>						
					</thead>

					<tbody>
						{{#indicados}}
						<tr>
							<td>{{colaborador.nome}}</td>
							<td>{{indicacao}}%</td>
							<td>{{#pcd.projeto.nome}} {{pcd.projeto.nome}} {{/pcd.projeto.nome}}
							{{^pcd.projeto.nome}}--{{/pcd.projeto.nome}}</td>
							<td>{{#pcd.dataInicio}}<span>{{pcd.dataInicio}}</span> à{{/pcd.dataInicio}}
								{{#pcd.dataFim}}<span>{{pcd.dataFim}}</span>{{/pcd.dataFim}}{{^pcd.dataInicio}}--{{/pcd.dataInicio}}</td>
							<td><button type="button" class="btn btn-primary botao-ver" data-toggle="modal" data-target="#modal{{colaborador.idColaborador}}"><span class="glyphicon glyphicon-record" aria-hidden="true"></span></button></td>
							<td><button idProjeto="{{projeto.idProjeto}}" idColaborador="{{colaborador.idColaborador}}" class="btn btn-primary alocar">Alocar</button></td>
						</tr>
						{{/indicados}}
					</tbody>
				</table>
			</div>
		</div>
		{{#ColaboradoresDoProjeto}}
		<!-- Modal -->
		<div class="modal fade" id="modal{{idColaborador}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		 	<div class="modal-dialog text-center" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        		<h4 class="modal-title" id="myModalLabel"><b>{{nome}}</b></h4>
		      		</div>
		      		
		      		<div class="modal-body">
		      			<h4>Conhecimentos</h4>
		      			{{#trilhas}}
						<div id="t{{idTrilha}}c{{idColaborador}}" class="row alert alert-danger display-none">
							<label>{{nome}}: </label>
						</div>
						{{/trilhas}}
		      		</div>
		      		
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div>
		<br>
		{{/ColaboradoresDoProjeto}}

		{{#indicados}}
		<!-- Modal -->
		<div class="modal fade" id="modal{{colaborador.idColaborador}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		 	<div class="modal-dialog text-center" role="document">
		    	<div class="modal-content">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        		<h4 class="modal-title" id="myModalLabel"><b>{{colaborador.nome}}</b></h4>
		      		</div>
		      		
		      		<div class="modal-body">
		      			<h4>Conhecimentos</h4>
		      			{{#trilhas}}
						<div id="t{{idTrilha}}c{{colaborador.idColaborador}}" class="row alert alert-danger display-none">
							<label>{{nome}}: </label>
						</div>
						{{/trilhas}}
		      		</div>
		      		
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      		</div>
		    	</div>
		  	</div>
		</div>
		{{/indicados}}

		{{> scripts}}
		<script type="text/javascript">
		$(function(){
			{{#projeto.skills}}
			$('#{{trilha.idTrilha}}').removeClass('display-none').append('<span class="margin-10">{{nome}}</span>');
			{{/projeto.skills}}

			{{#ColaboradoresDoProjeto}}

				{{#skills}}
				$('#t{{trilha.idTrilha}}c{{idColaborador}}').removeClass('display-none').append('<span class="margin-10">{{nome}}</span>');
				{{/skills}}
			{{/ColaboradoresDoProjeto}}

			{{#indicados}}
				{{#colaborador.skills}}
				$('#t{{trilha.idTrilha}}c{{colaborador.idColaborador}}').removeClass('display-none').append('<span class="margin-10">{{nome}}</span>');
				{{/colaborador.skills}}
			{{/indicados}}

			$('.alocar').click(function(){
				var self = $(this).parent().parent();
				self.fadeOut(500, function(){
					self.remove();
				});
			});
		});

		</script>
	</body>
</html>