<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{{> header}}
		<title>Whiskill</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		{{> style}}
		{{> row}}
		{{> typeahead}}
		<style type="text/css">
		#input-pesquisa{
			
		}
		</style>
	</head>
	<body>
		{{> navbar}}
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-3"></div>
				<div class="col-xs-6">
					<span>Pesquisar por Projetos:</span><br><br>
					<div id="the-basics" class="form-group">
						<input id="input-pesquisa" class="typeahead form-control" type="text" placeholder="Ex: Whiskill" >
					</div>
				</div>
				<div class="col-xs-3"></div>
			</div>
			<div class="row">
				<div class="titulo text-center">
					<h2>Nossos projetos</h2>
				</div>
				<br>
				<div class="row ">
					{{#Projeto}}
					<div class="col-lg-4 col-xs-4 text-center margem">
						<a href="/projeto/perfil?idProjeto={{idProjeto}}" class="thumbnail">
							<img style="height: 200px;" class="img-rounded img-responsive img-center" src="{{imagemLogo}}">
						</a>
						<h3>{{nome}}</h3>
					</div>
					{{/Projeto}}
				</div>
			</div>
			<hr>
			<footer>
				<div class="row">
					<div class="col-lg-12">
						<p>Copyright &copy; Whiskill 2015</p>
					</div>
				</div>
			</footer>
		</div>
		{{> scripts}}
		<script type="text/javascript" src="/components/typeahead.jquery.js"></script>
		<script type="text/javascript">

		var substringMatcher = function(strs) {
			return function findMatches(q, cb) {
				var matches, substringRegex;
			    matches = [];

			    substrRegex = new RegExp(q, 'i');

			    $.each(strs, function(i, str) {
			    	console.log(str);
			    	if (substrRegex.test(str)) {
			    		matches.push(str);	
			    	}
			    });

			    cb(matches);
			};
		};

		var projetos = [];

		$.ajax({
			url: '/projetos/json',
			type: 'GET'
		}).done(function(res){
			console.log(res)
			res.forEach(function(i){
				projetos.push(i.nome);
			});
		});
		$('#the-basics .typeahead').typeahead({
			hint: true,
			highlight: true,
			minLength: 1
		},
		{
			name: 'projetos',
			source: substringMatcher(projetos)
		});

		$('.typeahead').bind('typeahead:select', function(ev, suggestion) {

			$.ajax({
				url: '/projeto/buscar/nome?nome=' + suggestion,
				type: 'GET'
			}).done(function(projeto){
				location.href="/projeto/perfil?idProjeto=" + projeto.idProjeto;
		 	});
		});
		</script>
	</body>
</html>